<div class="article-total">
  <h3>Wanna know more about food in Berlin? Or need some inspiration?</h3>
  <div class="article-content">
    <div class="article-card">
      <img class="article-img" src="https://media.timeout.com/images/105464238/1372/772/image.jpg"
        alt="Restaurants by Timeout">
      <a href="https://www.timeout.com/berlin/restaurants/best-restaurants-in-berlin">
        <h4>Best restaurants in Berlin by Timeout</h4>
      </a>
    </div>
    <div class="article-card">
      <img class="article-img" src="https://www.movingto-berlin.com/wp-content/uploads/2019/05/Mehas-D%C3%B6ner.jpg"
        alt="Berliner Kebab">
      <a href="https://www.movingto-berlin.com/best-kebab-berlin/">
        <h4>Best kebab in Berlin</h4>
      </a>
    </div>
    <div class="article-card">
      <img class="article-img" src="https://notanomadblog.com/images/travel/berlin/schnitzelei.jpg" alt="Schnitzel">
      <a href="https://notanomadblog.com/where-to-eat-german-food-in-berlin">
        <h4>Locals' favorite places to eat German food in Berlin</h4>
      </a>
    </div>
    <div class="article-card">
      <img class="article-img" src="https://www.myfiveacres.com/wp-content/uploads/2016/03/vegan-food-in-berlin-2.jpg"
        alt="Vegan Vietnamese Food">
      <a href="https://www.myfiveacres.com/travel-tips/berlin-budget-vegan/">
        <h4>Vegan Berlin: 25 Places to Eat Vegan in Berlin for Less than €10</h4>
      </a>
    </div>
    <div class="article-card">
      <img class="article-img" src="https://berlinfoodstories.com/wp-content/uploads/2019/02/DSC02080.jpg"
        alt="Michelin Guide">
      <a href="https://berlinfoodstories.com/2019/02/26/berlin-michelin-stars-2019/">
        <h4>BERLIN MICHELIN STARS 2019</h4>
      </a>
    </div>
    <div class="article-card">
      <img class="article-img"
        src="https://img.theculturetrip.com/1024x574/smart/wp-content/uploads/2019/06/thegreens_aliyahrachelraine_8.jpg"
        alt="Coffee and more at The Greens">
      <a href="https://theculturetrip.com/europe/germany/articles/the-trendiest-cafes-and-coffee-shops-in-berlin/">
        <h4>Get Your Caffeine Fix at Berlin's Best Cafés and Coffee Shops</h4>
      </a>
    </div>



  </div>
</div>