<div class="game-page">
  <div class="image-div">

  </div>
  <div class="game-header">
    <h5>Too early to have dinner? Play a game!</h5>
  </div>
  <div class="game">
    <img src="/images/popcorn1.jpg" alt="image">
    <a class="play-btn" href="https://julferbas.github.io/popcorntime/">Play!</a>
  </div>

</div>