<!--search form-->

<div class="index-total">
  <img src="/images/bg-home.jpg" alt="image">
<div class="index-total">
  <div class="index-text">
    <h1>Hungry Hackers</h1>
    <h2>“One cannot think well, love well, sleep well, if one has not dined well.”</h2>
    <p>― Virginia Woolf</p>
  
  
  <div class="search">
  <form action="/restaurant" method="GET">
    <input type="text" name="search" placeholder="Search by cuisine">
    <br>
    <button type="submit" > Search restaurants near you</button>
  </form>
  </div>
</div>
  </div>
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Find a restaurant to have dinner tonight!">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>

</div>