<div class="index-total">
  <div class="index-text">
    <h1>Hungry Hackers</h1>
    <h2>“One cannot think well, love well, sleep well, if one has not dined well.”</h2>
    <p>― Virginia Woolf</p>
  </div>
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Find a restaurant to have dinner tonight!">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>

</div>