<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY3ludGhpYXNzIiwiYSI6ImNrMG9ncHJ0djA5b2szbnBwZml0bjJrc2IifQ.XnH-l28iJ-ygWXHxIxQVrw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
 center: [13.44, 52.49],
zoom: 5, 
});

</script>