<!--giving the search result-->
<div class="image-div">

</div>

<div class="restaurantlist">
  {{#each restaurantList}}
  <div class="eachRestaurant">
    <p><a href="/restaurants/{{id}} ">{{title}} </a> <br> {{vicinity}}</p>

    <p> </p>


  </div>
  {{/each}}

</div>