<!--giving the search result-->

<div class="rest-list">
  <div class="list">
    {{#each restaurantList}}
    <p><a href="/restaurants/{{id}}">{{{title}}}{{{vicinity}}}</a></p>
    {{/each}}</div>


</div>