<div class="review">
  <form class="review-form" method="post">
    <label for="review">
      <h5>Write your review:</h5>
    </label><br><br>
    {{!-- <input type="text" name="review" id="review"> --}}
    <textarea rows="10" cols="80" id="review" name="review"></textarea>
    <br>
    {{!-- <button>Submit</button> --}}
    <input class="review-btn" type="submit" value="Submit">
  </form>
</div>