<div class="review">
  <form action="/review" method="post">
    <label for="review">Write your review:</label>
    {{!-- <input type="text" name="review" id="review"> --}}
    <textarea rows="10" cols="80" id="review" name="review"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>