<div class="review">
  <form action="post" method="">
    <label for="review" id="review">Write your review:</label>
    {{!-- <input type="text" name="review" id="review"> --}}
    <textarea rows="10" cols="80" id="review"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>