body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
  text-align: center;
  justify-content: center;
//  width: 960px;
 margin: 0px auto;
}

@media only screen and (max-width: 959px) {
   body{
     width:100%;
  }
  img {
    width:100%;
  }
}

.index-wrapper{
  position: absolute;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  left:20%;
  // text-align: center;
  // justify-content: center;
  // width: 60%; /* Set the width of the positioned div */
  color: white; 

}